# Environment variables
# Never commit this file! It contains secrets.
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
/venv
/env
/.venv

# IDE-specific files
.vscode/
.idea/

# macOS
.DS_Store